main {
  padding: 20px;
  overflow-y: auto;
}

.change-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#change {
  background-color: var(--body);
  color: var(--color);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 100px;
}

#change:hover {
  background-color: #40baee;
}

#content {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  main {
    padding: 15px;
  }

  .change-container {
    margin-bottom: 15px;
  }

  #change {
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 425px) {
  main {
    padding: 10px;
  }

  .change-container {
    margin-bottom: 10px;
  }

  #change {
    font-size: 16px;
    padding: 6px 12px;
    margin-top: 20px;
  }
}
